body{ margin:0 auto; }

@media print{
  html, body {
    margin: 0;
    height: 100%;
    vertical-align: middle;
  }

  .table, .table thead th, .table tfoot td{
    border: 2px solid black !important;
  }

  .table tbody td{
    border-right: 2px solid black !important;
    border-bottom: 2px dotted black !important;
  }

  .table tfoot td{
    border: 2px solid black !important;
  }

  hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: black !important;
    height: 1px;
  }
}

@page {
  size; A4;
}

.left{
  margin-left: 10px;
}

#logo{
  width: 400px;
  filter: grayscale(100%);
}

#sp{
  margin:0;
  font-size:20px;
  text-decoration: underline;
}

#logodiv{
  margin-bottom: 20px;
}

#nosp{
  font-size: 20px;
  text-align: center;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}

.ttd{
  margin-left:20px;
}

.underline{
  text-decoration: underline;
}

footer
{
  display: block;
  width:100%;
  position:absolute;
  left:0;
  bottom:0;
}

#footer .noform{
  text-align: left;
  margin-left: 20px;
}

#footer .pageno{
  text-align: right;
  margin-right: 20px;
}
