body{ margin:0 auto; }

@media print{
  html, body {
    margin: 0;
    height: 100%;
    vertical-align: middle;
  }

  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .table, .table thead th, .table tbody #tfoot td{
    border: 2px solid black !important;
  }

  .table tbody tr td{
    border-right: 2px solid black !important;
    border-bottom: 2px dotted black !important;
  }

  .table tbody #tfoot td{
    width: auto;
    border-top: 2px solid black !important;
    border-bottom: 2px dotted black !important;
  }

  header{
    display: inline-block;
    position: fixed;
    width:100%;
  }

  footer{
    clear: both;
    background-color: transparent;
    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
  }

  .container{
    display: block;
    margin-bottom:100px
  }

  .pageno{
    display: block;
  }

  .pageno:after{
    content: counter(page) " of " counter(pages);
  }
}

.table, .table thead th, .table tbody #tfoot td{
  border: 2px solid black !important;
}

.table tbody tr td{
  border-right: 2px solid black !important;
  border-bottom: 2px dotted black !important;
}

@page {
  size; A4;
}

.left{
  margin-left: 10px;
}

#logo{
  width: 400px;
  filter: grayscale(100%);
}

#sp{
  margin:0;
  font-size:20px;
  text-decoration: underline;
}

#logodiv{
  margin-bottom: 20px;
}

#nosp{
  font-size: 20px;
  text-align: center;
}

.ttd{
  margin-left:20px;
}

.underline{
  text-decoration: underline;
}

header{
  display: block;
  position: static;
  width:100%;
}

footer
{
  clear: both;
  display: inline-block;
  position: static;
  width:100%;
  left:0;
  bottom:0;
}

#footer .noform{
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0;
}

#footer .pageno{
  text-align: right;
  margin-right: 20px;
}

.container{
  margin-bottom:100px
}

.pageno{
  counter-increment: page;
  display: block;
}

.pageno:after{
  content: counter(page) " of " counter(pages);
}
